.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 60;
    border: none;
    background-color: rgba(0,0,0,0.75);
}
.form{
    position: fixed;
    top: -1rem;
    left: 25%;
    width: 50%;
    padding: 10px;
    border-radius: 14px;
    background-color: #eee;
    z-index: 100;
    box-shadow: 0 0 3px 3px #867676;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.form h1{
    color: #555;
}
.action{
    display: flex;
    gap: 10px;
}
.action button.cancel{
    background-color: #eee;
    color: #555;
    border: 1px solid brown;
}

.action button:hover,.action button:active{
    background-color: brown;
    color: #eee;
}